<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hewei.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="com.hewei.model.City" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="PYCODE" property="pycode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, NOTE, PYCODE
  </sql>
  
  
  <select id="findProvince" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from careacodetblqg
    where CODE like CONCAT('%', #{code,jdbcType=VARCHAR})  order by CODE asc
  </select>
  <select id="findCity" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from careacodetblqg
    where CODE like CONCAT(left(#{code,jdbcType=VARCHAR},2), '%00') and code not in (#{code,jdbcType=VARCHAR}) order by code asc
  </select>
  <select id="findCounty" resultMap="BaseResultMap" parameterType="java.lang.String" >
     select 
    <include refid="Base_Column_List" />
    from careacodetblqg
    where CODE like CONCAT(left(#{code,jdbcType=VARCHAR},4), '%') and code not in (#{code,jdbcType=VARCHAR}) order by code asc
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from careacodetblqg
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  
   <select id="selectByNote" resultMap="BaseResultMap">
    select code
    from careacodetblqg
    where note = #{0}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from careacodetblqg
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hewei.model.City" >
    insert into careacodetblqg (CODE, NOTE, PYCODE
      )
    values (#{code,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{pycode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hewei.model.City" >
    insert into careacodetblqg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="note != null" >
        NOTE,
      </if>
      <if test="pycode != null" >
        PYCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="pycode != null" >
        #{pycode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hewei.model.City" >
    update careacodetblqg
    <set >
      <if test="note != null" >
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="pycode != null" >
        PYCODE = #{pycode,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hewei.model.City" >
    update careacodetblqg
    set NOTE = #{note,jdbcType=VARCHAR},
      PYCODE = #{pycode,jdbcType=VARCHAR}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
</mapper>