<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hewei.mapper.MachineCodeMapper" >
  <resultMap id="BaseResultMap" type="com.hewei.model.Machine" >
    <id column="code" property="code" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="pycode" property="pycode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    code, note, pycode
  </sql>
  
  <select id="findType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from machine
    where CODE like CONCAT('%', #{code,jdbcType=VARCHAR})  order by CODE asc
  </select>
  <select id="findNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
     select 
    <include refid="Base_Column_List" />
    from machine
    where CODE like CONCAT(left(#{code,jdbcType=VARCHAR},2), '%') and code not in (#{code,jdbcType=VARCHAR}) order by code asc
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from machine
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from machine
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hewei.model.Machine" >
    insert into machine (code, note, pycode
      )
    values (#{code,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{pycode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hewei.model.Machine" >
    insert into machine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="pycode != null" >
        pycode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="pycode != null" >
        #{pycode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hewei.model.Machine" >
    update machine
    <set >
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="pycode != null" >
        pycode = #{pycode,jdbcType=VARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hewei.model.Machine" >
    update machine
    set note = #{note,jdbcType=VARCHAR},
      pycode = #{pycode,jdbcType=VARCHAR}
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>