<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyasafe.mapper.MachineMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.boyasafe.model.Machine">
		<id column="code" property="code" />
		<result column="note" property="note" />
		<result column="pycode" property="pycode" />
	</resultMap>
	
	<select id="selectMachinePage" resultType="Map">
        SELECT 
        m.code,
        m.note,
        m.pycode
        FROM machine m
        GROUP BY m.code
    </select>
    <select id="seleceByNote" resultType="com.boyasafe.model.Machine">
    	select code from machine where note = #{0}
    </select>
    <select id="seleceByCode" resultType="com.boyasafe.model.Machine" parameterType="java.lang.String">
    	select code,note,pycode from machine where code = #{code}
    </select>
    <delete id="deleteByCode" parameterType="java.lang.String">
    	delete from machine where code = #{code}
    </delete>
    <update id="updateByCode" parameterType="com.boyasafe.model.Machine">
    	update machine set code = #{code},note =#{note},pycode=#{pycode} where code=#{code}
    </update>
</mapper>


